{% extends '@incentiveApp/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>{{ title }}</h2>
        </div>
        <div class="col-xs-12 col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Нэр</th>
                    <th>Үүсгэсэн огноо</th>
                    <th>Зассан огноо</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in data %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.name }}</td>
                        <td>{{ entity.createdDate|date('Y-m-d H:i:s') }}</td>
                        <td>{% if entity.updatedDate %}{{ entity.updatedDate|date('Y-m-d H:i:s') }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}